/* src/components/Login.css */

/* Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.textos {
    font-family: 'Open Sans', sans-serif;
    color:  rgb(49, 84, 28);

}
.container-forgot-password {
    width: 100%; /* Define a largura inicial */
    max-width: 400px; /* Limita a largura máxima */
    height: auto; /* Ajusta a altura automaticamente com base no conteúdo */
    max-height: 600px; /* Define uma altura máxima opcional */
  
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  
    /* Centralização */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Fundo branco */
  }
  
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .input-field input {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-submit {
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, rgb(70, 109, 45) 0%, rgb(4, 57, 7) 100%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  .btn-back {
    background: none;
    border: none;
    color:  rgb(70, 109, 45);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
  }
  
  .btn-back:hover {
    text-decoration: underline;
  }
  