/* Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.moldura{
  height: 130px;
}
.pin-marker {
    width: 20px;
    height: 20px;
    background-color: red; /* Cor da cabeça do alfinete */
    border-radius: 50%; /* Torna a cabeça do alfinete circular */
    position: relative;
    cursor: pointer;
  }
  
  .pin-marker::after {
    content: '';
    width: 2px;
    height: 20px;
    background-color: red; /* Cor da haste do alfinete */
    position: absolute;
    top: 20px; /* Posiciona a haste abaixo da cabeça */
    left: 9px; /* Centraliza a haste */
    border-radius: 1px;
  }
  .comment {
    width: 100%; 
    max-width: 500px;
    
    max-height: 520px; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 15px; 
    background: linear-gradient(to bottom, #e8ffe8, #c5e3c5); 
    color: white;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Centralização */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Fundo branco */

  }
  
  .comment h3 {
    text-align: center;
    color: #224922; /* Cor do título */
  }
  
  .comment label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2c662c;
  }
  
  .comment select,
  .comment textarea,
  .comment input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3d853d; /* Borda */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #f6fff6; /* Fundo claro */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interna */
  }
  
  .comment select:focus,
  .comment textarea:focus,
  .comment input[type="text"]:focus {
    outline: none;
    border-color: #28a745; /* Cor de foco */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Efeito ao focar */
  }
  
  .comment button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #157b2d; /* Cor do botão */
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .comment button:hover {
    background-color: #155d24; /* Cor do botão ao passar o mouse */
  }
  
  .comment button[type="button"] {
    background-color: #dc3545; /* Cor do botão "Cancelar" */
  }
  
  .comment button[type="button"]:hover {
    background-color: #d40b20; /* Cor do botão "Cancelar" ao passar o mouse */
  }
  